@import "../../../styles/variables";
@import "../../../styles/mixins";

.header {
  padding: 20px 0;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
      display: block;
      width: 360px;
      height: 220px;

      background: url("../../../assets/img/chuck-logo.png") no-repeat center
        center / cover;
    }
  }
}
