%reset_button {
  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: all 0.2s linear;

  &:active {
    position: relative;
    top: 1px;
  }
}

%link_button {
  display: block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:active {
    position: relative;
    top: 1px;
  }
}
