//https://www.color-blindness.com/color-name-hue/
//https://colorscheme.ru/color-converter.html

$_pumpkin: #f15a24;
$_black: #000;
$white_smoke: #f3f3f3;

//=============================================
$color-1: $_pumpkin;
$color-2: $_black;
$color-3: $white_smoke;

//===========================================
