/* You can add global styles to this file, and also import other style files */
@import "reset";
@import "fonts";
@import "variables";
@import "mixins";
@import "template-selectors";
@import "scroll";
@import "loader";

//Start
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
}

.page {
}

.container {
  max-width: 1230px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 15px;
}
